body {
       color: rgb(65,75,86);
       font-family: arial;
}
<<<<<<< HEAD
=======

header {background-image: url(https://i.pinimg.com/originals/22/6f/4f/226f4fe25cf52d3278bacb5c70cb8421.png);
  height: 100vh;
}

div id.carousel {
  height: 100vh;
}

p {
  text-align: center;
  margin: 5vh 10vw;
}

>>>>>>> 61e7ce47eccde716923b9224cb2a1ce423154c9f
div {
       min-height: 100vh;
       width: 100vw;
}
h1, h2 {
        text-align: center;
}


h1 {
  text-align: center;
        font-size: 5em;
}


h2 {
  text-align: center;
        font-size: 2.5em;
}
img {
        display: flex;
        padding: 20px;
    margin: 0 auto;
        border-radius: 130px;
}
p {     width: 40%;
        margin: 10vh 10vw;
        font-size: 2em;
}
a {
        color: rbg (0,0,0);
}
ol {
        list-style: none;
        padding: 0;
        margin-bottom: 10%
        font-size: 3em;
        display: flex;
        justify-content: space-evenly;
}
li#lower {
         margin-top: 7%;
}
li#lowest {
         margin-top: 14%
}
div.contrast {
     background-color: rgb(0,0,0);
     color: rgb(255,255,255);
     display:flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}
ul {
     list-style: none;
     display: flex;
}
li {
     margin: 0 20px;
     transition: 0.6s ease;
}
li:hover {
     font-size: 1.2em;
     transition: 0.6s ease;
}
#middle{
  text-align:center;
}
#middle{
  text-align: center;
}
<div>
<topnav {
  <background-color: #333;>
  <overflow: hidden;>
}
</div>

<div>
<topnav a {
  <float: left;>
  <color: #f2f2f2;>
  <text-align: center;>
  <padding: 14px 16px;>
  <text-decoration: none;>
  <font-size: 17px;>
}
</div>
