html{
  width: 100%;
  height: 100%;

}
 /* maybe we add in snowflakes next week.webpage = http://pajasevi.github.io/CSSnowflakes/ */


body {
        background-color: lightblue;
       font-family: arial;
       font-size: 15px !important;

}

h1, h2 {
        text-align: center;

}
h1 {
        font-size: 5em;
}
h2 {
        font-size: 2.5em;
}
