body {
       color: rgb(65,75,86);
       font-family: arial;
}

p{ text-align: center;
  margin: 10vh 10vw;
}

div {
       min-height: 100vh;
       width: 100vw;
}
h1, h2 {
        text-align: center;
}
h1 {
        font-size: 5em;
}
h2 {
        font-size: 2.5em;
}
img {
        display: flex;
        padding: 20px;
    margin: 0 auto;
        border-radius: 130px;
}
p {     width: 40%;
        margin: 10vh 10vw;
        font-size: 2em;
}
a {
        color: rbg (0,0,0);
}
ol {
        list-style: none;
        padding: 0;
        margin-bottom: 10%
        font-size: 3em;
        display: flex;
        justify-content: space-evenly;
}
li#lower {
         margin-top: 7%;
}
li#lowest {
         margin-top: 14%
}
div.contrast {
     background-color: rgb(0,0,0);
     color: rgb(255,255,255);
     display:flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}
ul {
     list-style: none;
     display: flex;
}
li {
     margin: 0 20px;
     transition: 0.6s ease;
}
li:hover {
     font-size: 1.2em;
     transition: 0.6s ease;
}
#middle{
  text-align:center;
}
#middle{
  text-align: center;
}



<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="file:///C:/Users/itsbe/Documents/GitHub/group_project/Everyday%20can%20feel%20like%20christmas.png=First slide" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src=".../800x400?auto=yes&bg=666&fg=444&text=Second slide" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src=".../800x400?auto=yes&bg=555&fg=333&text=Third slide" alt="Third slide">
    </div>
